<header>
  <h1>Lista Cards de Produtos</h1>
</header>

<main>
    <div class="container-cards" *ngFor="let produto of listaDeProdutos()">
      <card-produto (saibaMais)="clickSaibaMais(produto.id)" [titulo]="produto.titulo" [subtitulo]="produto.subtitulo"/>
    </div>


    <div *ngIf="produtoSelecionadoId">
      <modal-contato [produtoId]="produtoSelecionadoId" (abrirModalSucesso)="mostrarModalSucesso()" (fechar)="fecharModal()"/>
    </div>

    <div *ngIf="modalDeSucesso">
      <modal-sucesso
      (fecharModal)="fecharModal()"
      [titulo]="'solicitação efetuada com sucesso!'"
      [subtitulo]="'Recebemos a sua solitação e retornaremos o<br>contato em até 3 dias úteis'"
      />
    </div>

</main>

