<div class="modal fade show d-flex" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex flex-column align-items-start">
        <div class="d-flex justify-content-between w-5">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Como você prefere receber o nosso contato? </h1>
          <button (click)="fecharModal()" type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
          <div>
            <p>Converse com nosso time de consultores e conheça as facilidades de<br>
            tecnologia e gestão que cabem no seu negócio</p>
         </div>
        </div>
      <div class="modal-body">

        <div class="form-check">
          <input (change)="radioSelecionado('telefone')" class="form-check-input" type="radio" name="contato" id="telefone">
          <label class="form-check-label" for="telefone">
            telefone
          </label>
          <div class="form-floating mb-3" *ngIf="opcaoSelecionada === 'telefone'">
            <hr>
            <input type="telefone" class="form-control" id="telefone" placeholder="(00)00000-0000">
            <label for="telefone">número de telefone</label>
          </div>

        <hr>

        <input (change)="radioSelecionado('email')" class="form-check-input" type="radio" name="contato" id="email" >
          <label class="form-check-label" for="email">
            e-mail
          </label>
          <div class="form-floating mb-3" *ngIf="opcaoSelecionada === 'email'" >
            <hr>
            <input type="email" class="form-control" id="email" placeholder="e-mail">
            <label for="floatingInput">e-mail</label>
          </div>
        </div>
        <hr>

        <p> atendimento em até 03 dias úteis</p>

        <span> As informações fornecidas não alteram os dados cadastrais da sua conta e podem<br>
          ser comprtilhadas com empresas parceiras e poderão ser tratados de acordo com<br>
          a nossa Política de Privacidade disponível em nossos sites e aplicativos.
        </span>


      </div>
      <div class="modal-footer justify-content-start">
        <button (click)="fecharModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">voltar</button>
        <button type="button" class="btn btn-primary" [disabled]="!opcaoSelecionada">solicitar contato</button>
      </div>
    </div>
  </div>
</div>
